Repository cosmos/gaia, pull requests merged in 2020-07, with the labels that each got.

#427 Docs config
  contrib/gitian-keys/README.md
  docs/.vuepress/config.js
  docs/.vuepress/styles/index.styl
  docs/gaia-tutorials/deploy-testnet.md
  docs/gaia-tutorials/installation.md
  docs/gaia-tutorials/live-upgrade-tutorial.md
  docs/migration/cosmoshub-2.md
  docs/package-lock.json
  docs/package.json
  docs/resources/gaiacli.md
  docs/translations/kr/deploy-testnet.md
  docs/translations/kr/installation.md
Labels: automerge, docs

#435 migrating some things from master to main
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  .mergify.yml
  Dockerfile
  cmd/gaiad/main.go
Labels: R4R

#368 Translate some parts to ES_es
  docs/translations/Screen Shot 2019-05-29 at 14.14.28.png
  docs/translations/es/README.md
  docs/translations/es/installation.md
  docs/translations/es/join-mainnet.md
  docs/translations/es/what-is-gaia.md
Labels: docs, stale
