Repository cosmos/gaia, pull requests merged in 2021-12, with the labels that each got.

#1050 Create Governance proposal template
  .github/PULL_REQUEST/general.md
  .github/PULL_REQUEST/governance-proposal.md
  docs/governance/proposals/proposal-template.json
  docs/governance/proposals/proposal-template.md
Labels: WIP, governance

#1086 docs: validator overview edits for small fixes
  docs/validators/overview.md
Labels: docs

#1087 docs: Update validator-faq.md for grammar, clarity, tense, and ATOM
  docs/validators/validator-faq.md
Labels: docs

#1089 docs: fix links in governance section
  docs/governance/README.md
  docs/governance/best_practices.md
  docs/governance/community-pool-spend/README.md
  docs/governance/community-pool-spend/README[ES_es].md
  docs/governance/params-change/Bank.md
  docs/governance/params-change/Distribution.md
  docs/governance/params-change/Governance[ES_es].md
  docs/governance/params-change/README.md
  docs/governance/params-change/formatting.md
  docs/governance/params-change/param_index.md
  docs/governance/submitting.md
  docs/images/verify-tx.png
Labels: docs, governance

#1132 Fix links to hub-tutorials
  docs/getting-started/installation.md
Labels: docs
