Repository cosmos/gaia, pull requests merged in 2022-08, with the labels that each got.

#1634 Update cosmos/ledger-go to release version
  CHANGELOG.md
  go.mod
  go.sum
Labels: A:backport/v7.0.x

#1654 bump: update codeql version to v2 + Remove Python check
  .github/workflows/codeql-analysis.yml
Labels: build, code-hygiene, github_actions

#1660 cmd/gaiad/cmd: replace deprecated ioutil with os.WriteFile
  cmd/gaiad/cmd/testnet.go
Labels: A:backport/v7.0.x

#1648 use distroless.dev/static base image
  Dockerfile
  Makefile
  e2e.Dockerfile
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Labels: security, A:backport/v7.0.x

#1594 test: global fee e2e tests, bypass fee e2e
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker-push.yml
  Makefile
  ante/ante.go
  ante/fee.go
  ante/fee_test.go
  ante/fee_utils_test.go
  app/app.go
  contrib/generate_release_note/main.go
  docs/interchain-security.md
  go.mod
  go.work.sum
  tests/e2e/e2e_cli_util.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/genesis.go
  x/globalfee/types/genesis.go
Labels: tests, rho

#1615 docs: all fees
  docs/delegators/delegator-faq.md
  docs/governance/proposals/previous-proposals/README.md
  docs/ko/resources/ledger.md
  docs/migration/cosmoshub-2.md
  docs/modules/globalfee/README.md
  tests/e2e/go.sum
Labels: docs, rho

#1673 test: Staking module e2e tests
  tests/e2e/e2e_cli_util.go
  tests/e2e/e2e_groups_test.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_staking_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/genesis.go
Labels: tests, rho
