Repository cosmos/gaia, pull requests merged in 2024-06, with the labels that each got.

#3164 deps: update feemarket initial params
  app/upgrades/v18/upgrades.go
Labels: A:backport/v18.x

#3158 docs: add wasm info to docs; update scripts
  Dockerfile
  contrib/single-node.sh
  docs/DOCS_README.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/quickstart.md
  docs/docs/validators/overview.md
  e2e.Dockerfile
Labels: scope: docs, scope: build, A:backport/v18.x

#3173 build: update linker flags for linux-amd64
  .goreleaser.yml
  Makefile
Labels: scope: build

#3178 feat!: introduce the consumer-modification handler
  app/modules.go
Labels: A:backport/v18.x
